<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{email}},</p>
        <p>You requested to reset your password.</p>
        <p> Please, click the link below to reset your password</p>
        <a href="https://{{link}}">Reset Password</a>
        <p>Please ignore this message if you didnt request to reset your password</p>

    </body>
</html>